* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    margin: auto;
}

.container {
}

.item01, .item02, .item03, .item04 {
    min-height: 100vh;
    width: 70rem;
    height: 200px;
}

.item01 {
    background-color: red;
}

/* MENU NAVIGATION */
.nav {
    position: fixed;
    margin: 2rem;
    padding: .5rem;
    width: 60rem;
    height: 5rem;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.ul {
    display: flex;
}

.li {
    background-color: red;
    margin-right: 1px;
    text-align: center;
}

.li a {
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 1rem 1.5rem;
    background-color: aqua;
    transition: 0.5s;
}

.li a:hover {
    background-color: rgb(0, 121, 121);
}

/* PROJECTS SECTION */
.item02 {
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: pink;
    width: 60rem;
    height: 25rem;
    margin-top: 7rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.item_card {
    background-color: white;
    width: 25rem;
    height: 18rem;
    margin: 1px 0px 3rem 15px;
    transition: 0.5s;
}

/* ABOUT SECTION */
.item03 {
    background-color: aqua;
}

/* CONTACT SECTION */
.item04 {
    background-color: yellow;
}