/* Roboto Font from Google */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 17px;
    display: flex;
    justify-content: center;
    text-align: center;
}

main {
    background-color: aliceblue;
    width: 90%;
    margin-left: 10%;
    margin-right: 10%;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 4rem;
    background: rgb(247, 247, 247);
    margin: auto;
    margin-top: 30px;
    border-radius: 3px;
    box-shadow: 0 3px 15px 0px rgba(194, 194, 194, 0.7);
    font-size: 15px;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style-type: none;
    width: 80px;
    display: flex;
    justify-content: center;
    transition: 0.3s;
}

nav ul li a:hover {
    font-weight: bold;
    color: white;
    background-color: #ea4d2a;
    border-radius: 5px;
    transform: scale(1.1);
}

/* Style to first item menu */
#nav_home {
    border-bottom: 3px solid #f38c23;
    color: #ea4d2a;
    padding-right: 20px;
    font-weight: bold;
}

nav ul li a {
    text-transform: capitalize;
    width: 150px;
    padding: 20px;
    text-decoration: none;
    color: #f38c23;
    transition: .4s;
}

.home, .about, .projects, .contact {
    min-height: 100vh;
    padding: 2rem;
}

/* PROJETOS */

.projects {
    overflow: hidden;
}

.projects div {
    padding: 3rem;
}

.projects article {
    width: 20rem;
    height: 20rem;
    background-color: transparent;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 5px;
    box-shadow: 0 5px 10px 0px gray;
    border-radius: 15px;
}

.projects article div {
    background-color: white;
    padding: 5rem;
    margin-top: 5px;
    border-radius: 5px;
}