/* Roboto Font from Google */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: Roboto, sans-serif;
    font-size: 17px;
    text-align: center; 
    background-color: rgb(33,102,81);
}

/* Nav menu */
nav {
    position: relative;
    background-color: rgb(37, 112, 90);
    border-bottom: 1px solid rgb(111,179,154);
    width: 100%;
    text-align: center;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

nav ul li {
    list-style: none;
    display: inline-block;
    height: 60px;
}

/* first link on nav */
#nav_home {
    background-color: rgb(60,140,115);
    border-radius: 50px;
    transform: scale(90%);
}

nav ul li a {
    display: block;
    position: relative;
    text-decoration: none;
    font-weight: bold;
    width: 150px;
    padding: 20px;
    color: rgb(111,179,154);
    border-radius: 50px;
    transition: all ease 0.3s;
}

nav ul li a:hover {
    transform: scale(90%);
    background-color: rgb(60,140,115);
    color: rgb(177 208 184);
    border-radius: 50px;
}

/* home */
#home, #about {
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto;
    margin: auto;
    justify-content: center;
    align-items: center;
}

#home article {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 30px;
}

.link_side a {
    text-decoration: none;
    border: 1px solid rgb(177 208 184);
    color: rgb(177 208 184);
    box-shadow: 0px 0px 2px black;
    border-radius: 5px;
    padding: 0.9rem;
    margin-top: 3rem;
}

#left_side, #right_side {
    display: block;
    width: 50%;
    color: white;
    margin: 8rem;
}

figure img {
    border-radius: 15rem;
}